.titleLyricLine {
  writing-mode: vertical-rl;
  color: rgba(171, 235, 236, 0.85);
  opacity: 0;
  font-size: 2em;
  /* 调整字体大小 */
  font-weight: 300;
  /* 添加白色辉光 */
  text-shadow: 1px 1px 3px rgb(38, 96, 96);
}

.titleLyricJapanese {
  font-family: 'Yasashisa Gothic', 'M PLUS 1', sans-serif;
}

.titleLyricChinese {
  font-family: 'Yasashisa Gothic', 'M PLUS 1', sans-serif;
  font-size: 2em;
}

#TitleLyricEnglish {
  font-family: 'Yasashisa Gothic', 'M PLUS 1', sans-serif;
}

 
@keyframes revealText {
  from {
    transform: translateX(70px);
  }
  to {
    opacity: 0.99;
    transform: translateX(0);
  }
}

.text-animation {
  display: inline-block;
  animation: revealText 2.6s cubic-bezier(.39,.55,.17,1.03) forwards
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-100);
    }

    12% {
        opacity: 0.1;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.ease-in-back {
  animation-name: fadeIn;
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier(.34, .79, .53, 1.15)
}
