.player-control-extend {
  background-color: rgba(149, 149, 149, 0);
  box-shadow: 1.5px 1.5px 12px #00ffff;
}

@keyframes playerCtrlExtend {
  from {
    width: 76px;
  }
  to {
    width: 256px;
  }
}

.player-control-extend:hover {
  overflow: hidden; /* 防止内容溢出 */
  animation: playerCtrlExtend 0.4s cubic-bezier(.27,.76,.06,1) forwards
}

@keyframes playerCtrlShrink{
  from {
    width: 256px;
  }
  to {
    width: 76px;
  }
}

.player-control-extend:not(:hover) {
  /* color:; */
  overflow: hidden; /* 防止内容溢出 */
  animation: playerCtrlShrink 0.7s cubic-bezier(.4,.6,.1,.96) forwards;
}

.player-control-icon {
  filter: invert(100%);
  scale: 80%;
  /* width: 120px;background-color: #00ffff;
  height: 120px;s */
}

.control-circle {
  position: relative;
  opacity: 0.8;
  top: 0;
  left: 0;  
  width: 64px; /* 圆圈的宽度 */
  height: 64px; /* 圆圈的高度 */
  border-radius: 50%;
  border: 1px solid #ffffff; /* 设置圆圈边框样式和颜色 */
  box-shadow: 1.5px 1.5px 12px #35cde8;
  box-sizing: border-box; /* 使边框宽度包含在元素内 */
}

@keyframes circleExpand {
  from {
    scale: 100%;
  }
  to {
    scale: 105%;
  }
}

@keyframes reappear {
  0% {
    opacity: 0.8;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

.control-circle-blink:hover {
  animation: circleExpand 0.4s cubic-bezier(.4,.6,.1,.96) 0.1s forwards, reappear 0.4s cubic-bezier(.4,.6,.1,.96) forwards;
}


@keyframes rotateStart {
  from {
    opacity: 0;
    transform: rotate(0deg);
  }
  3% {
    opacity:0.9;
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateForever {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-spin {
  animation: rotateForever 4s linear infinite;
}

@keyframes playerCtrlFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes playerCtrlFadeOut {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}

.icon-unspin {
  animation: playerCtrlFadeOut 0.7s cubic-bezier(.49,0,.76,.32) forwards;
}

.icon-unspin:hover {
  animation: circleExpand 0.4s cubic-bezier(.4,.6,.1,.96) 0.1s forwards, playerCtrlFadeIn 0.1s cubic-bezier(.49,0,.76,.32) forwards;
}

.player-control-pause-icon {
  opacity: 0.8;
  filter: invert(100%);
  scale: 70%;
}

.song-title {
  color: rgba(256, 256, 256);
  font-size: 1em;
  /* 调整字体大小 */
  font-weight: 200;

  /* 调整字体粗细 */
  letter-spacing: 0.4px;
  /* 调整字间距 */
  line-height: 1.3em;
  /* 调整行间距 */


  /* add a #00ffff cyan theme but darker shadow, closely stick to the font */
  /* 调整字体阴影 */
  text-shadow: 1px 1px 3px #0d9191, 1.5px 1.5px 12px #00ffff, 1.5px 1.5px 5px #35cde8;
}