/* public/fonts.css */

@font-face {
    font-family: 'Yasashisa Gothic';
    src: url('./YasashisaGothicTegaki.otf') format('opentype');
    /* 可以添加其他格式的字体文件，根据需要添加不同的src项 */
}

@font-face {
    font-family: 'Harenosora';
    src: url('./Harenosora.otf') format('opentype');
    /* 可以添加其他格式的字体文件，根据需要添加不同的src项 */
}