

.cursor-img {
    width: 36px;
    height: 36px;
    clip-path: polygon(4% 0%, 100% 0%, 100% 45%, 100% 92%, 4% 92%, 4% 45%);
    object-fit: cover; /* 缩放图片以填充容器，保持宽高比 */
}

.cursor-outline {
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /* 确保裁剪部分不可见 */
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}